@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0;
padding: 0;
}

.button{
    margin: 0 3px;
    padding: 20px 0;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    width: 60px;
    font-size: 20px;
    
}
button:hover{
    background-color: cyan;
    cursor: pointer;
    font-weight: bold;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 20px;
        padding: 12px 0;
    border: 2px solid black;
    border-radius: 5px;
    width: 270px;
}
.container{
    background-color:rgb(233, 223, 223);
    width: 310px;
    border: 2px solid rgba(0, 0, 0, 0.362);
    margin-top: 40px;
    padding: 13px 0;
    border-radius: 5px;
}
#eql{
   font-weight: bolder;
   background-color: orange;

}
#eql:hover{
background-color: cyan;
font-weight: bold;
}

#four{
    background-color: yellow;
    font-weight: bolder;
}
#four:hover{
    background-color: cyan;
    font-weight: bold;
}

